<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes</h3>

{{#each movies}}
<img src="{{ image }}" alt="movie-cover">
<p>{{ title }}</p>
<p><a href="/movie/{{_id}}">See details</a></p>
{{/each}}